body{
    background-image: url(image/contactus.jpg);
    background-size: cover;
}
#ha{
    text-align: center;
    color: white;
    font-family: 'Courier, monospace';
    font-size: 40px;
}  
#ha:hover{
   font-weight: bolder;
} 
#v1{
    color:white;
    margin-top: -20px;
}
#v2,#v3{
    color:white;
    margin-top: -10px;
}
#email{
    color: white;
}